@charset "utf-8";
@media only screen and (max-width: 1920px) { html{ font-size: 24px; }}
@media only screen and (max-width: 1760px) { html{ font-size: 22px; }}
@media only screen and (max-width: 1600px) { html{ font-size: 20px; }}
@media only screen and (max-width: 1440px) { html{ font-size: 18px; }}
@media only screen and (max-width: 1280px) { html{ font-size: 16px; }}
@media only screen and (max-width: 1024px) { html{ font-size: 14px; }}
@font-face{
    font-family: 'HYQiHei';
    src : url('../fonts/HYQiHei.ttf');
}
@font-face{
    font-family: 'HelveticaBold';
    src : url('../fonts/HelveticaBold.ttf');
}
@font-face{
    font-family: 'Num';
    src : url('../fonts/Num.otf');
}

body{ background-color: #282828; margin:0; padding:0; font-family:"HYQiHei", Helvetica, Arial, sans-serif}
ul,li{margin:0; padding:0;}
a,a:hover,a:focus{ text-decoration: none!important}
p{margin-bottom:0.416rem}




.indexpage{ background-color: #282828; background-image:url("../images/pattern_up.png"),url("../images/pattern_middle.png"),url("../images/pattern_down.png"); background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 0 0, 100% 43%, 0 91%; background-size:36.375rem 58.5rem,33.66rem 48rem,40.2rem 58.8rem; }
.otherpage{ background-color: #fff;background-image:url("../images/pattern_up2.png"),url("../images/pattern_down2.png"); background-repeat: no-repeat, no-repeat;
    background-position: 100% 0, 0 90%; background-size:27.375rem 23rem,26.8rem 27.5rem; overflow-x: hidden}
.otherpage .header{ background: #b5262c; height:3.6rem; position: fixed; width:100%; z-index: 6}
.otherpage .header .logo{line-height: 3.6rem;}
.logo{position: absolute; left:1.67rem; top:1.67rem; z-index: 3; height:3rem}
.logo img{height:100%;}
.otherpage .logo{position: absolute; left:0; top:0;}
.menu{position: relative}
.menubg{position: fixed; width:100%; height:100%; z-index: -1; opacity: .6; right:-100%;}
.menu.active .menubg{z-index: 3;background: #000; right:0; }
.menu.active .menuicon{right:-3.6rem;}
.menu.active .menuclose{right:0;}
.menuicon{position: fixed; right:0; top:0; cursor: pointer; z-index: 5; transition: all 1.5s;  width:3.6rem}
.menuicon img{width:100%;}
.menuclose{ position: fixed; right:-3.6rem; top:0; cursor:pointer; z-index: 5; transition: all 1.5s; width:3.6rem; height:3.6rem; text-align: center; line-height: 3.6rem;}
.menuclose img{max-width: 100%; width:auto;}

.menubox{position: fixed; width:50%; height:100%; background: #1e1e1e; z-index: 4; padding:2rem 4rem; right:-50%; transition: all 1.5s;}
.menu.active .menubox{right:0;}

.menu_logo{ text-align: center; margin-bottom:4rem;}
.menu_logo img{ max-width:100%;}
.menu_block{width:31.25rem; margin:0 auto;}
.menu_business{ display: flex; margin-bottom:3rem;}
.menu_business ul{width:100%;}
.menu_business ul li{float:left; margin-right:0.75rem; width:calc(33.3% - 0.5rem); position: relative}
.menu_business ul li:last-child{margin-right:0px;}
.menu_business ul li img{width:100%;}
.menu_business ul li p{ text-align: center; position: absolute; bottom:0.4rem; margin-bottom:0; width:100%; font-size:0.75rem;}
.menu_business ul li a{color:#fff;}
.menu_link .line{background: #303030; height:1px; width:100%}
.menu_link p{margin-bottom:0; font-size:0.75rem;}
.menu_link .plan{margin:0.625rem 0}
.menu_link .plan a{line-height: 1.25rem; display: block}
.menu_link a{color:#fff; line-height: 2.1rem;}

.banner{ position: relative; }
.banner_img{width:75vw; float:right;}
.banner_img img{width:100%;}
.box{width:75vw; margin:0 auto; position: relative}
.banner_box{ top:16vw; position: absolute; background: #fff; width:40vw;-moz-box-shadow:0px 0px 15px #333333; -webkit-box-shadow:0px 0px 15px #333333; box-shadow:0px 0px 15px #333333;}
.banner_info{padding:4vw; float:left; background: #fff; box-sizing: border-box;}
.banner_info .top{position: relative; padding-bottom:0.83rem; margin-bottom:0.83rem;}
.banner_info .top:after{position: absolute; width:2.91rem; height:3px; background: #b5262c; content:''; bottom:0; left:0;}
.banner_info p:nth-child(1){font-size:2.4rem; color:#252525; font-weight: bold;  letter-spacing:1px}
.banner_info p:nth-child(2){font-size:1.4rem; color:#252525}
.banner_info i{color:#b5262c; font-style: normal}
.banner_info .keywords{font-size:2rem; color:#b5262c; margin-bottom:1.25rem; max-width: 28vw; font-weight: bold;}
.banner_info .keywords .swiper-slide{width:28vw!important}
.banner_info .morebtn{width:6.67rem; height:2.17rem; line-height: 2.17rem; text-align: center; background: #b5262c}
.banner_info .morebtn a{color:#fff; font-size:1rem;  display: block}

.intro .banner_info p:nth-child(1){font-family: "HelveticaBold";}

.story{position: relative;}
.story_box{ display: inline-flex; margin-top:12.5vw;margin-bottom:12.5vw;}
.story_half{width:49%; float:left;}
.story_box .story_half:nth-child(2){float:right; margin-left:2%;}
.story_half img{width:100%;}
.story_info{ background: #b5262c; padding:2vw 4vw; color:#fff; position: relative;display: flex;  align-items: center;  justify-content: center; }
.story_info p:nth-child(1){font-size:1.8rem; font-weight: bold}
.story_info p:nth-child(2){font-size:1rem;}
.story_info p:nth-child(3){font-size:1rem;}

.service{margin-bottom:12.5vw;}
.service .banner_img{float:left;}
.service .banner_box{right:0}
.service .banner_info{float:right}
.service .banner_info a{float:left;}
.service .banner_info p:nth-child(1){font-size:1.8rem; color:#3c3c3c; font-weight: bold}
.service .banner_info p:nth-child(2){font-size:1rem; color:#3c3c3c}
.service .morelink{margin-top:3vw}
.service .morelink a{margin-right:1rem;}
.service .morelink a p{font-size:0.67rem!important; text-align: center}
.service .morelink img{width:4.16rem;}

.tutor{margin-bottom:12.5vw;margin-top:12.5vw;}
.tutor_box{}
.tutor_box ul{display: flex;  flex-flow: row wrap; position: relative; width:100%; }
.tutor_box ul li{flex: 0 1 calc(100% / 3);width:33.3%; position: relative; overflow: hidden;  float:left; transition: all linear .6s; -webkit-transition: all linear .6s; cursor: pointer;}
.tutor_box ul li .outshow{ width:100%; height:100%; position:relative; top:0; left:0; background: #b5262c}
.tutor_box ul li .outshow .smallname{font-size:1.1rem;}
.tutor_box ul li:hover{padding:0;}
.tutor_box ul li img{width:100%;}
.tutor_box ul li .infomore{color:transparent; z-index: 2;opacity: 0;width:0;height:0;transition:all linear .6s;-webkit-transition: all linear .6s;position:absolute;left:50%;top:50%;content: ""; background: #b5262c}
.tutor_box ul li:hover .infomore{ width:100%; height:100%; top:0; left:0; color:#fff;opacity: 1;}
.tutor_box ul li .infomore_box{transition:all linear .6s;-webkit-transition:all linear .6s; display: none; padding:3vw;}
.tutor_box ul li .infomore_box p{font-size:1rem;}
.tutor_box ul li .infomore_box p:nth-child(2){font-size:1.375rem; font-weight: bold}
.tutor_box ul li:hover .infomore_box{ display: block}
.tutor_detail{ padding:1.25rem; height:100%; }
.tutor_detail .detail{background: #b5262c; color:#fff; font-size:1rem; padding:0.41rem 0.82rem;}
.tutor_detail .detail .name{font-size:1.3rem; height:2rem; line-height: 2rem; overflow: hidden}
.tutor_detail .detail .name span{font-size:1rem; float:right}
.tutor_detail .detail .info{color:#f99f9f; line-height:1.3rem;}

.case{position: relative;margin-bottom:12.5vw;}
.casebox{width:100%;}
.casebox{background: #fff;}
.case .banner_info{padding:2vw 2vw 4vw 2vw;}
.case .banner_info .case_title{font-size:1.04rem; color:#3c3c3c; margin-bottom:.75rem;padding:0 2vw}
.case .banner_info .case_info{padding:0 2vw}
.case .banner_info .case_info p{font-size:0.9rem; color:#6e6e6e; font-weight: normal; margin-bottom:0;}
.case_intro{display: flex; margin-top:.75rem; margin-bottom:.75rem;padding:0 2vw}
.case_member{border-left:3px solid #b5262c; padding-left:1rem }
.case_member .name{font-size:1.25rem; color:#3c3c3c; font-weight: bold}
.case_member .company{font-size:0.91rem; color:#6e6e6e}
.company_logo{ text-align: right; width:7.9rem;margin-left:auto;}
.company_logo img{max-width: 100%;}
.case_introduction{ background: #b5262c; padding:1vw 2vw }
.case_introduction p{ font-size:0.83rem!important; color:#fff!important; font-weight: normal!important; margin-bottom:0;}
.case .swiper-scrollbar{position: absolute; bottom:2rem!important; background: #3c3c3c; opacity: 1!important; width:20vw!important; height:3px!important;  left: 50%!important;  transform:translate(-50%,100%);}
.case .swiper-scrollbar-drag{ background: #b5262c}

.contact{margin-top:12.5vw; margin-bottom:12.5vw;}
.contact_box{}
.contact .row{ display: flex;}
.flexcenter{display: flex;  align-items: center; justify-content: center; }
.flexleft{display: flex;  align-items: center; justify-content: left; }
.contact .colcontent{ width:100%; height:100%; overflow: hidden}
.contact .colcontent img{ width: 100%;}
.contact .colcontent .icon{max-width:100%; width:4.5rem}
.contact .row [class^="col-"]{padding-top:0.625rem; padding-bottom:0.625rem;}
.contact .col-md-7 .colcontent{ background: #b5262c}
.contact .col-md-5 .colcontent{ background: #454545}
.contact .col-md-4 .colcontent{ background: #fff}
.contact .address{padding:6rem 4rem 0 4rem;}
.contact .address p:nth-child(1){color:#f99f9f; font-size:.91rem;position: relative;}
.contact .address p:nth-child(2){color:#fff;  font-size:1.16rem;}
.contact .address p:nth-child(1) img{position: absolute; right:-2.25rem; bottom:0;}

.contact .tel{padding:1rem 4rem 3rem 4rem;display: flex; align-items: flex-end;}
.contact .tel .tel_box{}
.contact .tel p:nth-child(1){color:#8c8c8c; font-size:.91rem;}
.contact .tel p:nth-child(2){color:#fff; position: relative; font-size:1.16rem;}
.contact .tel p:nth-child(2) a{color:#fff;}
.contact .tel p:nth-child(2) img{position: absolute; left:4rem; bottom:1.5rem;}
.contact .tel p:nth-child(3){color:#8c8c8c; font-size:.91rem; margin-top:2rem;}
.contact .tel p:nth-child(4){color:#fff; position: relative; font-size:1.16rem; margin-bottom:0;}
.contact .tel p:nth-child(4) img{position: absolute; right:-1rem; bottom:1.5rem;}

.contact .qrcode{display: flex; padding:3rem 0 3rem 0; text-align: right; align-items: flex-end; justify-content:center;}
.contact .qrcode_l{}
.contact .qrcode p{margin-bottom:0; text-align: left}
.contact .qrcode p:nth-child(1){color:#8c8c8c; font-size:0.91rem}
.contact .qrcode p:nth-child(2){color:#3c3c3c; font-size:1.16rem}
.contact .qrcode .qrcode_r{margin-left:1rem;}

.footer{ background: #353535}
.footer_top .row{padding:2vw 0}
.footer_logo{text-align: left}
.footer_logo img{max-width:100%;}
.footer_top p{color:#8c8c8c; font-size:0.75rem; margin-bottom:0;}
.footer_top a{color:#8c8c8c;}
.footer_top p.email{margin-top:0.5rem;}
.footer_top p.address{margin-top:0.5rem;}
.footer_top .qrcode_box{ float:right}
.footer_top .qrcode img{padding:0 0.375rem 0.75rem 0.375rem;}
.footer_top .qrcode p{color:#8c8c8c; text-align: center}
.footer_bottom{height:3.33rem; line-height: 3.33rem; background: url("../images/footer_icon.png") repeat-x top; color:#8c8c8c; font-size:0.83rem;}
.footer_bottom a{color:#8c8c8c}
.footer_bottom span{color:#fff;}
.footer_bottom span i{color:#b5262c; font-style: normal; font-weight: bold; font-size:1rem}

.center{ position: relative}
.center .box{position: inherit; margin-top:3.6rem;}
.otherpage .block{ margin-top:calc(15vw + 3.6rem); margin-bottom:15vw;}
.otherpage .hangblock{ height:87.5vw;}
.otherpage .box .center_block{width:25vw; height:25vw; float:left;}
.otherpage .box .center_block span{ font-family: "Num"; font-size:2.5rem; background: url("../images/arrow01.png") no-repeat 0 60%; background-size: 1rem; padding-left:1.2rem;}
.otherpage .box .center_block span.blockarrow{background-image: url("../images/arrow02.png"); color:#3c3c3c}
.otherpage .box .center_block span.rotatearrow{background: url("../images/arrow03.png") no-repeat 0 60% ; background-size: 2rem; padding-left:2.5rem;}
.otherpage .box .center_block p{margin-bottom:1rem;}
.otherpage .box .center_block:nth-child(1){padding-top:15vw;}
.otherpage .box .center_block:nth-child(1) p:nth-child(1){font-size:2rem; font-weight: bold; color:#000; margin-bottom:0}
.otherpage .box .center_block:nth-child(1) p:nth-child(2){font-size:1rem; color:#000;}
.otherpage .box .center_block:nth-child(2){background: #2d2d2d; color:#fff; font-size:1rem;}
.otherpage .box .center_block:nth-child(4){background: #b5262c; color:#fff; font-size:1rem}
.otherpage .box .center_block:nth-child(5){background: #fff; color:#3c3c3c; font-size:1rem}
.otherpage .box .center_block:nth-child(6){background: #b5262c; height:43.75vw; color:#fff; font-size:1rem}
.otherpage .box .center_block:nth-child(7){position: absolute; left:-12.5vw; top:50vw; width:75vw; height:37.5vw;}
.otherpage .box .center_block:nth-child(8){position: absolute; top:68.75vw; right:0; height:13.5rem;}
.block_padding{ padding:2rem; padding-top:2rem}
.linkbox{font-size:1.2rem;}
.linkbox .pull-left a{color:#000;}
.linkbox .pull-right a{color:#b72c32;}
.block_small{ font-size:0.85rem!important;}
.block_img img{height:100%;}
.block_img2{position: relative}
.block_img2 img{position: absolute; right:0; top:50%; transform:translate(0,-50%); max-height: 100%; max-width: 100%;}

.aboutus .aboutbox{padding:3.5rem 2.5rem 0 2.5rem!important; border:1px solid #3c3c3c; height:100%;}
.aboutus .aboutbox p{color:#3c3c3c; font-size:1rem; margin-bottom:.8rem;}
.aboutus .aboutbox p:nth-child(1) {  font-size: 2.4rem;  color: #000;  font-weight: bold;  letter-spacing: 1px;  }
.aboutus .aboutbox .top {  position: relative;  padding-bottom: 0.83rem;  margin-bottom: 1.83rem;  }
.aboutus .aboutbox .top:after {  position: absolute;  width: 2.91rem;  height: 3px;  background: #b5262c;  content: '';  bottom: 0;  left: 0;  }
.aboutus .aboutbox img{width:3.5rem;}
.aboutus .qrcode{border:1px solid #3c3c3c}
.aboutus img{max-width: 100%;}

.mentors .block{ margin-top:calc(10vw + 3.6rem);}
.mentors_intro {  position: relative; text-align: center;   padding-bottom: 0.83rem;  margin-bottom: 1.83rem; font-size: 2.4rem;  color: #000;  font-weight: bold;  letter-spacing: 1px; }
.mentors_intro:after {  position: absolute; width: 2.91rem;  height: 3px;  background: #b5262c;  content: '';  top:100%;  left: 50%;  transform:translate(-50%,100%); }

@media only screen and (max-width: 1279px)
{
    .aboutus .aboutbox{padding:2rem 2rem 0 2rem!important}
    .aboutus .aboutbox .top {  position: relative;  padding-bottom: 0.83rem;  margin-bottom: .83rem;  }
}
@media only screen and (max-width: 1180px)
{
    .box{width:85vw;}
    .otherpage .box{width:75vw;}
    .banner_box{width:45vw;}
    .banner_info .keywords{max-width:34vw;}
    .case .swiper-scrollbar{left:11vw;}
    .linghang .block_padding{ padding:1.2rem; padding-top:0rem}
    .otherpage .box .center_block p{margin-bottom:1rem;}
}
@media only screen and (max-width: 1024px)
{
    .box{width:90vw;}
    .banner_box{width:50vw; height:40vw!important;}
    .banner_info .keywords{max-width:42vw;}
    .banner_info p:nth-child(1){letter-spacing:0px}
    .case .swiper-scrollbar{bottom:1rem}
    .case .banner_box{background: transparent;}
    .contact .tel p:nth-child(3){margin-top:0;}
    .contact .tel p:nth-child(4) img{right:0;}
    .contact .address{padding:8rem 2rem 0 2rem}
    .contact .address p:nth-child(2) img{bottom:3rem;}
    .contact .qrcode img{width:6rem;}
}
@media only screen and (max-width: 950px)
{
    .otherpage .box{width:90vw;}
    .otherpage .box .center_block{width:45vw!important; height:22.5vw!important;}
    .otherpage .box .center_block:nth-child(1){padding-top:10vw;}
    .otherpage .box .center_block:nth-child(6){height:37vw!important;}
    .otherpage .box .center_block:nth-child(7){position: absolute; top:67.5vw; left:0vw; height:27vw!important;}
    .otherpage .box .center_block:nth-child(8){position: absolute; top:82vw; height:auto!important; padding-top:2rem; height:13.5vw;}
    .block_img img{width:100%; height:auto}
}
@media only screen and (max-width: 767px)
{
    .logo{top:0; left:0; position: fixed}
    .menubox{width:75%; right:-75%; padding:2rem;}
    .menu_block{width:90%;}
    .menu_logo{padding-top:5rem}
    .banner_img{width:100%;}
    .banner_box{width:100%; height:auto!important; top:-4rem; position: relative}
    .menu_link p{line-height: 3rem}
    .menu_link .plan a{line-height: 2rem;}
    .banner_info p:nth-child(1){letter-spacing:0px}
    .banner_info .keywords{max-width:82vw;}
    .story{width:100%; position: relative}
    .story_box{display: inline-block}
    .story_half{width:100%; float:inherit}
    .story_info{width:90%;}
    .story_box .story_half:nth-child(2){margin-left:5%;float:inherit}
    .tutor_box ul li{width:50%; flex: 0 1 50%}
    .intro{position: relative}
    .intro .banner{height:auto!important}
    .case .banner_box{box-shadow:none;-webkit-box-shadow:none;}
    .case .banner_info{padding-bottom:2rem;}
    .casebox{-webkit-box-shadow: 0px 0px 15px #333333;  box-shadow: 0px 0px 15px #333333; padding-top:1rem}
    .case_introduction{padding:1rem;}
    .case .swiper-scrollbar{width:80vw; left:5vw; bottom:1rem;}
    .contact .row{ display: inline}
    .contact .address{padding-top:5rem; padding-bottom:3rem;}
    .contact .row [class^="col-"]{padding:0;}
    .contact .tel{padding-top:5rem;}
    .footer_logo{ margin:3rem auto 1rem; text-align: center;}
    .footer_logo img{ height:8rem;}
    .col-xs-6.footer_logo{ text-align: left}
    .col-xs-6.footer_logo{text-align: center!important}
    .footer_top .qrcode_box{margin-top:3rem; float: initial; text-align: center}
    .footer_top p{font-size:16px;}
    .footer_bottom{font-size:16px;}
    .visible-xs.flexcenter{ display: flex!important}
    .visible-xs.flexcenter p{margin-top:1rem;}
    .visible-xs.flexcenter p:last-child{margin-bottom:1rem;}

    .otherpage .block{margin-top:calc(5vw + 3.6rem); height:auto;}
    .block_padding{padding:3rem;}
    .otherpage .box .center_block{width:90vw!important; height:auto!important;}
    .otherpage .box .center_block:nth-child(1){padding-top:10vw;}
    .otherpage .box .center_block:nth-child(6){height:auto!important}
    .otherpage .box .center_block:nth-child(7){position: inherit; top:67.5vw; left:0vw; height:auto!important}
    .otherpage .box .center_block:nth-child(8){position: inherit; top:78.75vw; height:auto!important; padding-top:2rem;}

}
@media only screen and (max-width: 500px)
{
    .tutor_box ul li{width:100%; flex: 0 1 100%}
    .banner_info p:nth-child(1){font-size:2.0rem}
    .footer_top .row [class^="col-"]{padding:0 10px}

    .col-xs-6.footer_logo.phoneqr{text-align: right!important;}
    .footer_bottom{ text-align: center; height:auto; padding:.5rem 0; line-height: 2rem;}
    .footer_bottom .pull-left,.footer_bottom .pull-right{float:initial!important}
}
@media only screen and (max-width: 420px)
{
    .footer_logo img{max-width: inherit; height:7rem;}
}
